<!DOCTYPE html>
<html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>考勤表-考勤系统</title>
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <link rel="stylesheet" href="/css/font.css" >
    <link rel="stylesheet" href="/css/weadmin.css" >
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/moment.js" type="text/javascript" charset="utf-8" />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../lib/layui/css/layui.css" th:href="@{/layui/css/layui.css.css}">
    <style type="text/css">



    </style>

</head>
<style>
    .content{
        float: left;
        padding: 1.875em;
        width: 100%;

    }
</style>

<body>
<!--		<div class="weadmin-nav">-->
<!--			<span class="layui-breadcrumb">-->
<!--        <a href="">首页</a>-->
<!--        <a href="">公司架构</a>-->
<!--        <a>-->
<!--          <cite>员工</cite></a>-->
<!--      </span>-->
<!--			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">-->
<!--				<i class="layui-icon" style="line-height:30px">&#x1002;</i></a>-->
<!--		</div>-->
<div class="content">
    <div class="layui-row">
        <!--				<form class="layui-form layui-col-md12 we-search" method="post">-->
        <div class="layui-inline">
            <input type="text" id="searchId" placeholder="请输入员工名" autocomplete="off" class="layui-input" >
        </div>
        <div class="layui-inline">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
        </div>
        <div class="layui-inline">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
        </div>
        <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="loadData(document.getElementById('searchId').value, 0, 5)"><i class="layui-icon">&#xe615;</i></button>
        <!--				</form>-->
    </div>
    <!--显示考勤表-->
    <table class="layui-table" id="memberList" >
        <thead>
        <tr>

            <th>
                <input type="checkbox" />
            </th>
            <th>ID</th>
            <th>员工编码</th>
            <th>员工姓名</th>
            <th>早上上班时间</th>
            <th>下午下班时间</th>
            <th>出勤情况</th>
        </tr>
        </thead>
        <tbody id="tbody" >

        </tbody>
    </table>

</div>



<div id='ulList' class="page">

</div>
</div>
</div>

<!-- ***************************************************************** -->

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/layui/layui.js" charset="utf-8" ></script>
<script src="/js/eleDel.js" type="text/javascript" charset="utf-8" ></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<!--批量删除-->
<script type="text/javascript">

    function empsDelete() {

        if (confirm("确定删除选中的用户？")) {
            var userList = new Array();
            $("input[name='empsDelete']:checked").each(function () {
                userList.push($(this).val());
            });
            $.ajax({
                type: "post",
                url: "/emp/delEmps",
                data: {userList: userList.toString()},
                success: function () {
                    alert("删除成功！");
                    location.reload();
                },
                error: function () {
                    alert("刪除失败！")
                }
            });
        }
    }

</script>
<!--<script type="text/javascript">-->



<script th:inline="none">
    var currentPage = 0;
    alert("checkreport");
    function loadData(key,page, pageSize, preDate, nextDate) {
        $.ajax({
            type: 'POST',
            url: "/get/all",
            dataType: "json",
            data: {
                cardCode: key,
                pageSize:5,
                currentPage:page,
                preDate:preDate,
                nextDate:nextDate
            }

                ,
            success: function (data) {

                $("#tbody").html("");
                // $("#ulList").html("");
                var tabledata = data['cards'];

                jQuery.each(tabledata, function (i, list) {
                    var mortime = moment(list['claMorTime']).format("YYYY/MM/DD HH:mm");
                    var evetime = moment(list['claEveTime']).format("YYYY/MM/DD HH:mm");
                    var tr="";
                    tr+="<tr>"+
                        "<td><input name=\"cardsDelete\" value=" + list['id'] + " type=\"checkbox\" /></td>"+
                        "<td>" + list['id'] + "</td>"+
                        "<td>" + list['cardCode'] + "</td>"+
                        "<td>" + list['name'] + "</td>"+
                        "<td>" + mortime+ "</td>"+
                        "<td>" + evetime + "</td>"+
                        "<td>" + list['note'] + "</td>"+
                        // "<td class=\"td-manage\">"+
                        // "<button class=\"btn btn-info btn-sm left\" id="+ list['id'] + " onclick=\"clickEdit(this)\" data-toggle=\"modal\" data-target=\"#updateEmpPage\">"+
                        // "编 辑"+
                        // "</button>"+
                        // "<form id=\"form1\" action=\"/test/" + list['id'] + " method=\"post\" >"+
                        // "<input type=\"hidden\" name=\"_method\" value=\"delete\" />"+
                        // "<button  type=\"submit\"  class=\"btn btn-danger btn-sm right\">删 除</button>"+
                        // "</form>"+
                        "</tr>";

                    $("#tbody").append(tr);
                });
                $("#ulList").html('');
                var li="<a class=\"num\" onclick='loadData(\"\","+(currentPage-1)+","+5+")'><<</a>";
                for (var i = 1; i <= data['pageNum']; i++) {
                    if (i==currentPage){
                        li+="<a class=\"current\" class='active' onclick='loadData(\"\","+i+", "+5+")'>"+i+"</a>";
                    }
                    else {
                        li+="<a class=\"num\" onclick='loadData(\"\","+i+", "+5+")'>"+i+"</a>";
                    }
                }
                li+="<a class=\"num\" onclick='loadData(\"\","+(currentPage+1)+","+5+")'>>></a>";
                $("#ulList").append(li);
                // console.log(tr);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }

    $(document).ready(function () {
        loadData('', 1, 5,"1900/01/01 00:00","2099/01/01 00:00");
    })

</script>

<!--添加用户-->
<script type="text/javascript">
    function addAjax() {
        var empCodex = document.getElementById('addEmpCode').value;
        var empName = document.getElementById('addEmpName').value;
        var empAge = document.getElementById('addEmpAge').value;
        var empNation = document.getElementById('addEmpNation').value;
        var empIdCard = document.getElementById('addEmpIdCard').value;
        var empSalary = document.getElementById('addEmpSalary').value;
        var empContact = document.getElementById('addEmpContact').value;
        var empCTel = document.getElementById('addEmpCTel').value;
        var empStaCode = document.getElementById('addEmpStaCode').value;
        var empNote = document.getElementById('addEmpNote').value;
        alert("进入addAjax");
        alert(empCodex);
        alert(empName);
        alert(empAge);

        $.ajax({
            type : "post",
            url : "/emp/addEmployee",
            data : {

                empCode	:  empCodex,
                empName	:  empName,
                empAge	:  empAge,
                empNation	:  empNation,
                empIdCard	:  empIdCard,
                empSalary	:  empSalary,
                empContact	:  empContact,
                empCTel	:  empCTel,
                empStaCode	:  empStaCode,
                empNote	:  empNote

            },
            success : function (fallBack) {
                alert("后端传值成功:"+fallBack);
                if ( fallBack === 1 ) {
                    alert('恭喜你，添加成功！！！');
                    $("#closemodel").click();
                    //document.getElementById('addEmpPage').style.display="none";
                } else if ( fallBack === 2) {
                    alert ("员工编码已存在，请重来，(?ω?)");
                } else if (fallBack === 3) {
                    alert("暂时还没有这个岗位！！！(?ω?)");
                } else {
                    alert('哎呀，出现意外了！')	;
                }

            },
            error : function () {
                alert("传值失败");
            }
        })

    };
</script>
</body>

</html>