<!DOCTYPE html>
<html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班次-考勤系统</title>
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <link rel="stylesheet" href="/css/font.css" >
    <link rel="stylesheet" href="/css/weadmin.css" >
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <script src="/layui/layui.js" charset="utf-8" ></script>
    <script src="/js/eleDel.js" type="text/javascript" charset="utf-8" ></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->

<!--    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->

<!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <style type="text/css">
        .close{
            width: 100px;
            height: 50px;
        }
        .btn-primary{
            width: 113px;
            height: 38px;
            border-radius: 0;
            font-size: 14px;
        }
        .btn-info{
            float: left;
            margin-right: 15px;
        }
        #form1{
            float: left;
        }
        .close{
            width: 100px;
            height: 50px;
        }
        .content{
            float: left;
            padding: 1.875em;
            width: 100%;}
    </style>


</head>

<body>

        <div class="content">
                    <div class="layui-row">

                        <div class="layui-row">
                            <div class="layui-inline">
                                <input type="text" id="searchId" placeholder="请输入班次编码" autocomplete="off" class="layui-input" >
                            </div>
                            <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="loadData(document.getElementById('searchId').value, 0, 5)"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    <div class="weadmin-block">
                        <button class="layui-btn layui-btn-danger" onclick="clasDelete()"><i class="layui-icon"></i>批量删除</button>

                        <button class="btn btn-primary btn-lg" id="addEmpButton"  data-toggle="modal" data-target="#addEmpPage">
                            添加班次
                        </button>


                        <!--</form>-->
                        <span class="fr" style="line-height:40px"></span>
                        <!--显示班次-->
                        <table class="layui-table" id="memberList" >
                            <thead>
                            <tr>

                                <th>
                                    <input type="checkbox" />
                                </th>
                                <th>班次编码</th>
                                <th>班次名称</th>
                                <th>早上上班时间</th>
                                <th>下午下班时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbody" >

                            </tbody>
                        </table>
                    </div>





             <!-- 分页 -->
                <div id='ulList' class="page">

                </div>
        </div>
                <!--隐藏窗口，点击button弹出编辑页面-->
                <div class="modal fade" id="updateEmpPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    编辑
                                </h4>
                            </div>
                            <div class="weadmin-body">
                                <form class="layui-form" action="/emp/updateEmp" method="post">
                                    <p style="color:red">更新</p>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            <span class="we-red">*</span>班次编码
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="empCode" name="empCode" readonly="readonly" lay-verify="required|nikename" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">

                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label  class="layui-form-label">
                                            <span class="we-red">*</span>班次名称
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="empName" name="empName" lay-verify="required|name" autocomplete="" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label  class="layui-form-label">
                                            <span class="we-red">*</span>早上上班时间
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="empAge" name="empAge" autocomplete="off" class="layui-input">
                                        </div>

                                    </div>
                                    <div class="layui-form-item">
                                        <label  class="layui-form-label">
                                            <span class="we-red">*</span>下午下班时间
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="empNation" name="empNation" lay-verify="required|nation" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label  class="layui-form-label">
                                            <span class="we-red">*</span>备注
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text"  id="empIdCard" name="empIdCard" lay-verify="required|identifycard" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label  class="layui-form-label">
                                        </label>
                                        <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <!--隐藏窗口，点击button弹出添加页面-->
                <div class="modal fade" id="addEmpPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h2 class="modal-title" id="myModalLabel">
                                    新增班次
                                </h2>
                                <!--						<h4 style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></h4>-->
                            </div>
                            <div class="weadmin-body">
                                <!--						<form class="layui-form" action="/emp/addEmployee" method="post">-->
                                <!--							<h1 style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></h1>-->
                                <!--<form class="layui-form" th:action="@{/emp/addEmployee}" method="post">-->

                                <div class="layui-form-item">
                                    <label class="layui-form-label">
                                        <span class="we-red">*</span>班次编码
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="addClaCode" name="claCode" lay-verify="required|nikename" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label  class="layui-form-label">
                                        <span class="we-red">*</span>班次名称
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="addClaName" name="claName" lay-verify="required|name" autocomplete="" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label  class="layui-form-label">
                                        <span class="we-red">*</span>早上上班时间
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="addClaMorTime" name="claMorTime" autocomplete="off" class="layui-input">
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <label  class="layui-form-label">
                                        <span class="we-red">*</span>下午下班时间
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="addClaEveTime" name="claEveTime" lay-verify="required|nation" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label  class="layui-form-label">
                                        <span class="we-red">*</span>备注
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="textarea" id="addClaNote" name="claNote" lay-verify="required|salary" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label  class="layui-form-label">
                                    </label>
                                    <button class="layui-btn" onclick="addAjax()" id="confirmAdd" lay-filter="add" lay-submit="">确定</button>

                                    <!--隐藏button-->
                                    <button type="button" class="btn btn-default" style="display: none" data-dismiss="modal" id="closemodel">关闭</button>

                                </div>
                                <!--</form>-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

        </div>



                <!-- ***************************************************************** -->



    <!--批量删除-->
    <script type="text/javascript">

        function claDelete(data) {
            var clickId = data.id;
            $(document).ready(function () {
                var subUrl = "/cla/delClaById/";
                var now = subUrl + clickId;
                $.ajax({
                    type: "post",
                    url: now,
                    data:clickId,
                    success: function (emp) {
                        alert("删除成功");
                        loadData('', 1, 5);
                    },
                    error: function () {
                        alert("删除失败");
                    }
                })
            })
        }

        function clasDelete() {

            if (confirm("确定删除选中的班次？")) {
                var claList = new Array();
                $("input[name='clasDelete']:checked").each(function () {
                    claList.push($(this).val());
                });
                $.ajax({
                    type: "post",
                    url: "/cla/delClas",
                    data: {claList: claList.toString()},
                    success: function () {
                        alert("删除成功！");
                        loadData('', 1, 5);
                    },
                    error: function () {
                        alert("刪除失败！")
                    }
                });
            }
        }

    </script>



    <!--编辑功能回显ajax-->
    <script type="text/javascript">
        var url = window.location.href;
        //var location = ;
        //alert(location);
        var id  = url.substring(url.lastIndexOf("=")+1,url.length);
        //alert("取id"+id);
        function clickEdit(data) {
            var clickId = data.id;
            $(document).ready(function () {
                var subUrl = "/emp/getEmpById/";
                var now = subUrl + clickId;
                $.ajax({
                    type: "get",
                    url: now,
                    success: function (emp) {
                        var empId = emp.id;
                        //var weaBody = $("weadmin-body");
                        var inputCode = $("#empCode");
                        var inputName = $("#empName");
                        var inputAge = $("#empAge");
                        var inputNation = $("#empNation");
                        var inputIdCard = $("#empIdCard");
                        var inputSalary = $("#empSalary");
                        var inputTel = $("#empTel");
                        var inputCTel = $("#empCTel");
                        var inputStaCode = $("#empStaCode");
                        var inputNote = $("#empNote");
                        inputCode.attr('value', emp.empCode);
                        inputName.attr('value', emp.empName);
                        inputAge.attr('value', emp.empAge);
                        inputNation.attr('value', emp.empNation);
                        inputIdCard.attr('value', emp.empIdCard);
                        inputSalary.attr('value', emp.empSalary);
                        inputTel.attr('value', emp.empTel);
                        inputCTel.attr('value',emp.empCTel);
                        inputStaCode.attr('value', emp.empStaCode);
                        inputNote.attr('value', emp.empNote);

                    },
                    error: function () {
                        alert("ajax失败");
                    }
                })


            });
        }
    </script>

    <!-- 查询 -->
    <script th:inline="none">
        var currentPage = 0;
        function loadData(key,page, pageSize) {
            $.ajax({
                type: 'POST',
                url: "/cla",
                dataType: "json",
                data: {claCode: key,
                    pageSize:5,
                    currentPage:page},
                success: function (data) {

                    $("#tbody").html("");
                    // $("#ulList").html("");
                    var tabledata = data['clas'];
                    jQuery.each(tabledata, function (i, list) {
                        var tr="";
                        tr+="<tr>"+
                            "<td><input name=\"clasDelete\" value=" + list['id'] + " type=\"checkbox\" /></td>"+
                            "<td>" + list['claCode'] + "</td>"+
                            "<td>" + list['claName'] + "</td>"+
                            "<td>" + list['claMorTime'] + "</td>"+
                            "<td>" + list['claEveTime'] + "</td>"+
                            "<td class=\"td-manage\">"+
                            "<button class=\"btn btn-info btn-sm left\" id="+ list['id'] + " onclick=\"clickEdit(this)\" data-toggle=\"modal\" data-target=\"#updateEmpPage\">"+
                            "编 辑"+
                            "</button>"+
                            "<button class='btn btn-danger btn-sm' onclick=\"claDelete(this)\" type=\"submit\" id="+ list['id'] +
                            " >删除</button>"+
                            "</td></tr>";

                        $("#tbody").append(tr);
                    });
                    $("#ulList").html('');
                    var li="<a class=\"num\" onclick='loadData(\"\","+(currentPage-1)+","+5+")'><<</a>";
                    for (var i = 1; i <= data['pageNum']; i++) {
                        if (i==currentPage){
                            li+="<a class=\"current\" class='active' onclick='loadData(\"\","+i+", "+5+")'>"+i+"</a>";
                        }
                        else {
                            li+="<a class=\"num\" onclick='loadData(\"\","+i+", "+5+")'>"+i+"</a>";
                        }
                    }
                    li+="<a class=\"num\" onclick='loadData(\"\","+(currentPage+1)+","+5+")'>>></a>";
                    $("#ulList").append(li);
                    // console.log(tr);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.status);
                    console.log(XMLHttpRequest.readyState);
                    console.log(textStatus);
                }
            });
        }

        $(document).ready(function () {
            loadData('', 1, 5);
        })

    </script>

    <!--添加用户-->
    <script type="text/javascript">
        function addAjax() {
            alert("进来了")
            var claCode = document.getElementById('addClaCode').value;
            var claName = document.getElementById('addClaName').value;
            var claMorTime = document.getElementById('addClaMorTime').value;
            var claEveTime = document.getElementById('addClaEveTime').value;
            var claNote = document.getElementById('addClaNote').value;

            $.ajax({
                type : "post",
                url : "/cla/addClass",
                data : {

                    claCode	:  claCode,
                    claName	:  claName,
                    claMorTime	:  claMorTime,
                    claEveTime	:  claEveTime,
                    claNote	:  claNote,

                },
                success : function (fallBack) {

                    if ( fallBack === '1' ) {
                        $("#closemodel").click();
                        loadData('', 1, 5);
                    } else if ( fallBack === '2') {
                        alert ("班次编码已存在，请重来，(✪ω✪)");
                    } else {
                        alert('哎呀，出现意外了！')	;
                    }

                },
                error : function () {
                    alert("传值失败");
                }
            })

        };
    </script>
</body>

</html>