<!DOCTYPE html>
<html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>员工-考勤系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}">
		<link rel="stylesheet" href="../static/css/weadmin.css" th:href="@{/css/weadmin}">
	</head>
	<script type="text/javascript">
		// $(function(){
		// 	refurbishIndex();
		// })
		//
		// function refurbishIndex(){
		// 	var queryData = {
		// 		empId:$('#empId').val()
		// 	}
		// 	$.ajax({
		// 		type:"post",
		// 		url:"/easyuiIndexTable",
		// 		data:JSON.stringify(queryData),
		// 		contentType:"application/json",
		// 		success:function (data) {
		// 			var str ="";
		// 			for(i in data){
		// 				str+="<tr>"+
		// 						"<td>"+"<input type='checkbox' />"+"</td>"+
		// 						"<td align='center'>"+data[i].empId+"</td>"+
		// 						"</tr>";
		// 			}
		// 			document.getElementById("tbodydata").innerHTML = str;
		//
		// 		}
		// 	})
		// }
	</script>
	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">公司架构</a>
        <a>
          <cite>员工</cite></a>
      </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">&#x1002;</i></a>
		</div>
		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search" method="post" th:action="@{/emp/get}">
					<div class="layui-inline">
						<input type="text" name="empName" placeholder="请输入员工名" autocomplete="off" class="layui-input" >
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach" ><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div>
			<div class="weadmin-block">
				<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
				<button class="layui-btn" onclick="WeAdminShow('添加用户','add_employee.html',600,500)"><i class="layui-icon"></i>添加</button>
				<span class="fr" style="line-height:40px">共有数据：88 条</span>
			</div>
			<table class="layui-table" id="memberList">
				<thead>
					<tr>

						<th>
							<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
						</th>
						<th>ID</th>
						<th>员工编码</th>
						<th>姓名</th>
						<th>性别</th>
						<th>年龄</th>
						<th>民族</th>
						<th>岗位</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody >
					<tr th:each="emp:${emps}">
						<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="1"><i class="layui-icon">&#xe605;</i></div>
						<td th:text="${emp.empId}"></td>
						<td th:text="${emp.empCode}"></td>
						<td th:text="${emp.empName}"></td>
						<td th:text="${emp.empSex}"></td>
						<td th:text="${emp.empAge}"></td>
						<td th:text="${emp.empNation}"></td>
						<td th:text="${emp.empIdCard}"></td>
						<td class="td-manage">
							<a title="编辑" onclick="WeAdminEdit('编辑','./edit.html', 1, 600, 400)" href="javascript:;">
								<i class="layui-icon">&#xe642;</i>
							</a>
							<a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
								<i class="layui-icon">&#xe640;</i>
							</a>
						</td>

					</tr>
<!--					<tr data-id="1">-->
<!--						<td>-->
<!--							<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="1"><i class="layui-icon">&#xe605;</i></div>-->
<!--						</td>-->
<!--						<-->
<!--						<td>1</td>-->
<!--						<td>admin</td>-->
<!--						<td>小明</td>-->
<!--						<td>男</td>-->
<!--						<td>20</td>-->
<!--						<td>汉</td>-->
<!--						<td>CEO</td>-->

<!--					</tr>-->
				</tbody>
			</table>
			<div class="page">
				<div>
					<a class="prev" href="">&lt;&lt;</a>
					<a class="num" href="">1</a>
					<span class="current">2</span>
					<a class="num" href="">3</a>
					<a class="num" href="">489</a>
					<a class="next" href="">&gt;&gt;</a>
				</div>
			</div>
		</div>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="./lib/layui/layui.js" charset="utf-8"></script>
		<script src="./static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>