<!doctype html>
<html lang="en">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>考勤系统</title>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="/css/font.css" >
		<link rel="stylesheet" href="/css/weadmin.css" >
		<script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
		<script src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
	</head>
	<style>
		.content{
			float: left;
			padding: 1.875em;
			width: 100%;
            margin-top: -32px;
            margin-left: 84px;
            height: 100%;
		}
		.container{
			width: 100%;
		}
	</style>
	<body>
		<!-- 顶部开始 -->
		<div class="container">
			<div class="logo">
				<a href="javascript:welcome();">考勤系统</a>
			</div>
			<div class="left_open">
				<i title="展开左侧栏" class="iconfont">&#xe699;</i>
			</div>
			<ul class="layui-nav right" lay-filter="">
				<li class="layui-nav-item">
					<a id="loginUser" href="javascript:;" ></a>
					<dl class="layui-nav-child">
						<!-- 二级菜单 -->
						<dd>
							<a onclick="getLoginUser()">个人信息</a>
						</dd>
						<dd>
							<a class="loginout" href="/user/logout">退出</a>
						</dd>
					</dl>
				</li>
			</ul>

		</div>
		<!-- 顶部结束 -->
		<!-- 中部开始 -->
		<!-- 左侧菜单开始 -->
		<div class="left-nav">
			<div id="side-nav">
				<ul id="nav">
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>公司架构</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="javascript:goToEmployee();" class="iconfont">
									<i class="iconfont">&#xe6a7;</i>
									<cite>员工</cite>
								</a>
							</li>
							<li>
								<a href="javascript:goToDepartment();"  >
									<i class="iconfont">&#xe6a7;</i>
									<cite>部门</cite>

								</a>
							</li>
							<li>
								<a href="javascript:goToStation();" class="iconfont">
									<i class="iconfont">&#xe6a7;</i>
									<cite>岗位</cite>

								</a>

							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>考勤数据</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="javascript:goToClasses();">
									<i class="iconfont">&#xe6a7;</i>
									<cite>班次表</cite>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>考勤报表</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="javascript:gotoPunchCard()">
									<i class="iconfont">&#xe6a7;</i>
									<cite>打卡单</cite>
								</a>
							</li>
							<li>
								<a href="javascript:gotoCheckReport()">
									<i class="iconfont">&#xe6a7;</i>
									<cite>考勤表</cite>
								</a>
							</li>
						</ul>

					</li>
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>考勤设置</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="javascript:gotoRepairCard();">
									<i class="iconfont">&#xe6a7;</i>
									<cite>补卡单</cite>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>财务管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="javascript:gotoPaySalary();">
									<i class="iconfont">&#xe6a7;</i>
									<cite>派薪单</cite>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="x-slide_left"></div> -->
		<!-- 左侧菜单结束 -->
		<!-- 右侧主体开始 -->

		<!--登录进入首页-->
				<div class="content" id="showItem">

				</div>
		</div>
		<!-- 右侧主体结束 -->
		<!-- 中部结束 -->
		<!-- 底部开始 -->
		<div class="footer">
			<div class="copyright">Copyright ©2019 考勤系统 v1.0 All Rights Reserved</div>
		</div>
		<!-- 底部结束 -->
		<script type="text/javascript">

			//左侧栏点击下拉动画
			layui.config({
			  base: '/js/'
			  ,version: '101100'
			}).use('admin');

		</script>

		<!-- 跳转页面 -->
		<script type="text/javascript">

			// $(document).ready(function () {
			// 	welcome();
			// })

			function welcome(){
				$.ajax({
					type:"post",
					url:"/showWel",
					dataType:"html",
					success: function (data) {
						$("#showItem").html(data);
					},
					error: function () {
						alert("页面跳转失败，请稍后再试");
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function goToEmployee() {
			$.ajax({
				type:"POST",
				url:"/showEmp",
				dataType:"html",
				success: function(data){

					$("#showItem").html(data);
				},
				error: function ()
				{
					alert("失败啦")
					console.log(XMLHttpRequest.status);
					console.log(XMLHttpRequest.readyState);
					console.log(textStatus);
				}
			})
			}

			function goToDepartment() {
				$.ajax({
					type:"POST",
					url:"/showDep",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦")
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function goToClasses(){
				$.ajax({
					type:"POST",
					url:"/showCla",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦")
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function gotoPunchCard(){
				$.ajax({
					type:"POST",
					url:"/showPun",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦")
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function gotoRepairCard(){
				$.ajax({
					type:"POST",
					url:"/showRep",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦")
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function gotoPaySalary(){
				$.ajax({
					type:"POST",
					url:"/showPay",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦")
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						console.log(textStatus);
					}
				})
			}

			function gotoCheckReport(){
				$.ajax({
					type:"POST",
					url:"/showChec",
					dataType:"html",
					success: function(data){

						$("#showItem").html(data);
					},
					error: function ()
					{
						alert("失败啦");
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);

					}
				})
			}
		</script>

        <script type="text/javascript">
            function goToStation() {
                $.ajax({
                    type:"POST",
                    url:"/showSta",
                    dataType:"html",
                    success: function (data) {
                        $("#showItem").html(data);
                    },
                    error: function () {
                        alert("失败啦")
                        console.log(XMLHttpRequest.status);
                        console.log(XMLHttpRequest.readyState);
                        console.log(textStatus);
                    }
                })
            }
        </script>

		<!--显示当前登录用户-->
		<script th:inline="javascript">
			var user = [[${user}]];
			var userName = user+'';
			var currentUser = $("#loginUser");
			currentUser.append('<p>'+userName +'</p>');
			//alert(currentUser);
		</script>
	</body>
	<!--Tab菜单右键弹出菜单-->
	<ul class="rightMenu" id="rightMenu">
        <li data-type="fresh">刷新</li>
        <li data-type="current">关闭当前</li>
        <li data-type="other">关闭其它</li>
        <li data-type="all">关闭所有</li>
    </ul>

</html>